h1,
p {
  font-family: Lato;
}
.menu-logo{
  width: 100px;
  height: auto;
}

.menu .icon-menu {
  display: flex;
  width: 30px;
  height: auto;
}
.menu .brand-icon {
  width: 25px;
}
.menu .brand-iconvip {
  width: 15px;
}

.menu {
  list-style: none;
  list-style-position: outside;
  min-width:fit-content;
}
.menu li {
  margin-top: -8px;

}
.menu li::before {
  content: '';
  border-color: transparent white;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -0.6em;
  top: 0.75em;
  position: relative;
}
.menu-vip li:before {
  content: '';
  border-color: transparent white;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -0.6em;
  top: 0.75em;
  position: relative;
}

.menu .text-xs {
  font-size: 0.8em;
}

.seleccionado{
  background-color: red;
  color: white;
}

.boton_generico{
  background:rgba(128, 128, 128, 0.493);
  padding: 10px 15px;
  color: white;
  margin:2px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
}

input,textarea, select{
  padding:5px;
}

.text_area{
height: 80px;
min-height: 80px;
max-height: 80px;
width: 100%;
}

@media  (min-width:1600px){
 .menu{
   max-width: 20%;
 }
  .menu p{
    margin-bottom: 18px;
  }
  .menu .icon-menu{
    width: 50px;
  }
  .menu .brand-icon{
    width: 44px;
    margin-bottom: 20px;
  }
  .menu .text-xs{
    font-size: 20px;
  }
  .menu li{
    margin-top:1px;
  }
  .menu ul{
    width: 250px;
    margin-bottom: 30px;
  }
  .menu .brand-iconvip {
    width: 20px;
    right: 10px;
  }
  .menu-logo{
    width: 180px;
  }
  .contenido{
    max-width: 80.2%;
  }
}
@media  (min-width:1800px){
  .menu{
    max-width: 20%;}

   .contenido{
     max-width: 82.4%;
   }
   .label-small{
    padding-top: 20px;}
 }
 .ajuste-distancia{
   padding-top:23px;
 }

 @media  (min-width:1900px){
  .menu{
    max-width: 20%;}

   .contenido{
     max-width: 83.4%;
   }
 }



.logo-formularios{
  width: 42px;
}
.tamaño_texto{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-small{
margin-bottom: 10px;
padding: 10%;
}

.input-small .label{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight:bold;
  margin-bottom:15px;
}

.texto-login{
line-height:1.3em;
font-size: 0.8em;
}


@media  (max-width:1400px){
  .label-small{
    padding-top: 20px;
    }
 }

 .boton_form{
   margin-top: 70px;
   padding: 20px 25px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size:15px;
}
 .formulario{
   padding-bottom: 70px;
 }

 .filtros{
   display: block;
   width: 100%;
 }

 .boton_filtro{
   padding: 8px ;
   display: block;
   margin: auto;
   margin-top: 6px;
   width: 100%;
   text-decoration: none;
   background: gray;
   color: white;
   font-size:13px;
 }