h1,
p {
  font-family: Lato;
}
.menu-logo{
  width: 100px;
  height: auto;
}

.menu .icon-menu {
  display: flex;
  width: 30px;
  height: auto;
}
.menu .brand-icon {
  width: 25px;
}
.menu .brand-iconvip {
  width: 15px;
}

.menu {
  list-style: none;
  list-style-position: outside;
  min-width:fit-content;
}
.menu li {
  margin-top: -8px;

}
.menu li::before {
  content: '';
  border-color: transparent white;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -0.6em;
  top: 0.75em;
  position: relative;
}
.menu-vip li:before {
  content: '';
  border-color: transparent white;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -0.6em;
  top: 0.75em;
  position: relative;
}

.menu .text-xs {
  font-size: 0.8em;
}

.seleccionado{
  background-color: red;
  color: white;
}

.boton_generico{
  background:rgba(128, 128, 128, 0.493);
  padding: 10px 15px;
  color: white;
  margin:2px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
}

input,select,.text_area{
height: 30px;
}

@media  (min-width:1600px){
 
  .menu p{
    margin-bottom: 18px;
  }
  .menu .icon-menu{
    width: 50px;
  }
  .menu .brand-icon{
    width: 44px;
    margin-bottom: 20px;
  }
  .menu .text-xs{
    font-size: 20px;
  }
  .menu li{
    margin-top:1px;
  }
  .menu ul{
    width: 250px;
    margin-bottom: 30px;
  }
  .menu .brand-iconvip {
    width: 20px;
    float: right;
  }
  .menu-logo{
    width: 180px;
  }

}
