h1,
p {
  font-family: Lato;
}

.menu .icon-menu {
  display: flex;
  width: 30px;
  height: auto;
  filter: invert(100);
}
.menu .brand-icon {
  width: 30px;
}

.menu {
  list-style: none;
  list-style-position: outside;
  min-width:fit-content;
}
.menu li {
  margin-top: -8px;

}
.menu li::before {
  content: '';
  border-color: transparent white;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -0.6em;
  top: 0.75em;
  position: relative;
}
.menu-vip li:before {
  content: '';
  border-color: transparent white;
  border-style: solid;
  border-width: 0.25em 0 0.25em 0.35em;
  display: block;
  height: 0;
  width: 0;
  left: -0.6em;
  top: 0.75em;
  position: relative;
}

.menu .text-xs {
  font-size: 10px;
}

.seleccionado{
  background-color: red;
  color: white;
}

.boton_generico{
  background:rgba(128, 128, 128, 0.493);
  padding: 10px 15px;
  color: white;
  margin:2px;
  text-decoration: none;
  border-radius: 10px;
}

input,select,.text_area{
height: 30px;
}


